html{
    background-color: #242424;
    align-content: center;
    text-align: center;
    justify-content: center;
}

header{
    display: inline-flex;
    margin-left: auto;
    margin-right: auto;
}

body{
    align-items: center;
}

.product{
    border: solid #ffdb4b 3px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    padding: 5px;
    width: auto;
    height: 50vh;
    max-width: 20vw;
    max-height: 60vh;
    margin: 3px;
    background-color: white;
}

.title{
    font-size: 2.5vmin;
    font-weight: bold;
}

.disc{
    font-size: 1.5vmin;
}

.price{
    font-size: 2vmin;
}

table{
    border: solid black 2px;
    padding: 1px;
    margin: 1px;
    border-collapse: collapse;
    background-color: red;
    margin: 0 auto;
}

.pImg{
    height: auto;
    width: auto;
    max-height: 20vh;
    max-width: 11vw;
}

.logo{
    height: 8vh;
    max-width: auto;
    margin: 10px;
}

.buy{
    font-size: 2vmin;
    font-weight: 500;
    text-decoration: none;
    color: black;
    padding: 25px #ffdb4b;
    border: 5px solid #ffdb4b;
    background-color: #ffdb4b;
    border-radius: 25px;
    margin: 1px;
}

.buy :visited{
    font-size: 2vmin;
    font-weight: 500;
    text-decoration: none;
    color: black;
    padding: 25px #ffdb4b;
    border: 5px solid #ffdb4b;
    background-color: #ffdb4b;
    border-radius: 25px;
    margin: 1px;
}


@media screen and (max-width:1000px) and (max-height:1400px){
    .logo{
        height: 5vh;
      }

    .product{
        height: 40vh;
        padding: 2px;
        margin: 1px;
    }
}

@media screen and (max-width:999px) and (max-height:1399px){
    .logo{
        height: 5vh;
      }

    .product{
        height: 36vh;
        padding: 2px;
        margin: 1px;
    }
}


@media screen and (max-width:599px) and (max-height:1199px){
    .logo{
        height: 5vh;
      }

    .product{
        height: 30vh;
        padding: 2px;
        margin: 1px;
    }
}

@media screen and (min-width:500px) and (max-height:500px){
    .logo{
        height: 10vh;
      }

    .product{
        height: 500px;
        padding: 2px;
        margin: 1px;
    }
}

@media screen and (min-width:500px) and (max-height:999px){
    .logo{
        height: 5vh;
      }

    .product{
        height: 40vh;
        padding: 2px;
        margin: 1px;
    }
}

@media screen and (min-width:1000px) and (max-height:1000px){
    .logo{
        height: 10vh;
      }

    .product{
        height: 50vh;
        padding: 2px;
        margin: 1px;
    }
}