html{
    background-color: #ffdb4b;
    align-content: center;
    text-align: center;
    justify-content: center;
}

header{
    display: inline-flex;
    margin-left: auto;
    margin-right: auto;
}

body{
    align-items: center;
}

.product{
    border: solid #ffdb4b 3px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    padding: 5px;
    width: auto;
    height: auto;
    max-width: 20vw;
    max-height: 60vh;
    margin: 5px;
    background-color: white;
}

.title{
    font-size: 2.5vmin;
    font-weight: bold;
}

.disc{
    font-size: 1.5vmin;
}

.price{
    font-size: 2vmin;
}

table{
    border: solid black 2px;
    padding: 1px;
    margin: 1px;
    border-collapse: collapse;
    background-color: red;
    margin: 0 auto;
}

.pImg{
    height: auto;
    width: auto;
    max-height: 10vw;
    max-width: 11vw;
}

.logo{
    height: 10vh;
    width:auto;
    margin: 10px;
}

.buy{
    font-size: 2vmin;
    font-weight: 500;
    text-decoration: none;
    color: black;
    padding: 25px #ffdb4b;
    border: 5px solid #ffdb4b;
    background-color: #ffdb4b;
    border-radius: 25px;
}

.buy :visited{
    font-size: 2vmin;
    font-weight: 500;
    text-decoration: none;
    color: black;
    padding: 25px #ffdb4b;
    border: 5px solid #ffdb4b;
    background-color: #ffdb4b;
    border-radius: 25px;
}