html{
    background-color: #242424;
    text-align: center;
}

header{
    display: inline-flex;
    margin-left: auto;
    margin-right: auto;
}

body{
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: none;
}

.product{
    border: solid #ffdb4b 3px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    padding: 5px;
    width: auto;
    height: auto;
    margin: 3px;
    background-color: white;

}

.title{
    font-size: 20px;
    font-weight: bold;
}

.disc{
    font-size: 12px;
}

.price{
    font-size: 15px;
}

.grid1{
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    grid-template-rows: 400px 400px;
    gap: 3px;
    justify-content: center;
    border: solid black 2px;
    padding: 1px;
    margin: 1px;
    border-collapse: collapse;
    background-color: red;
}

#p1{
    grid-column: 1;
    grid-row: 1;
}
#p2{
    grid-column: 2;
    grid-row: 1;
}
#p3{
    grid-column: 3;
    grid-row: 1;
}
#p4{
    grid-column: 4;
    grid-row: 1;
}
#p5{
    grid-column: 1;
    grid-row: 2;
}
#p6{
    grid-column: 2;
    grid-row: 2;
}
#p7{
    grid-column: 3;
    grid-row: 2;
}
#p8{
    grid-column: 4;
    grid-row: 2;
}


.pImg{
    height: auto;
    width: auto;
    max-height: 150px;
    max-width: 200px;
}

#logo1{
    width: auto;
    height: auto;
    max-height: 100px;
    max-width: 500px;
    margin: 10px;
}

#logo2{
    width: auto;
    height: auto;
    max-height: 100px;
    max-width: 500px;
    margin: 10px;
}

.logos{
    display: flex;
    max-width: 1000px;
}

.buy{
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    color: black;
    padding: 25px #ffdb4b;
    border: 5px solid #ffdb4b;
    background-color: #ffdb4b;
    border-radius: 25px;
    margin: 1px;
}

.buy :visited{
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    color: black;
    padding: 25px #ffdb4b;
    border: 5px solid #ffdb4b;
    background-color: #ffdb4b;
    border-radius: 25px;
    margin: 1px;
}

@media screen and (max-width:1050px){
    #logo1{
        max-height: 75px;
        max-width: 250px;
    }
    
    #logo2{
        max-height: 75px;
        max-width: 250px;
    }

    .grid1{
        grid-template-columns: 250px 250px;
        grid-template-rows: 400px 400px 400px 400px;
    }
    #p1{
    grid-column: 1;
    grid-row: 1;
    }
    #p2{
    grid-column: 2;
    grid-row: 1;
    }
    #p3{
    grid-column: 1;
    grid-row: 2;
    }
    #p4{
    grid-column: 2;
    grid-row: 2;
    }
    #p5{
    grid-column: 1;
    grid-row: 3;
    }
    #p6{
    grid-column: 2;
    grid-row: 3;
    }
    #p7{
    grid-column: 1;
    grid-row: 4;
    }
    #p8{
    grid-column: 2;
    grid-row: 4;
    }
} 

@media screen and (max-width:550px){
    #logo1{
        max-height: 50px;
        max-width: 125px;
    }
    
    #logo2{
        max-height: 50px;
        max-width: 125px;
    }

    .grid1{
        grid-template-columns: 250px;
        grid-template-rows: 400px 400px 400px 400px 400px 400px 400px 400px;
    }
    #p1{
    grid-column: 1;
    grid-row: 1;
    }
    #p2{
    grid-column: 1;
    grid-row: 2;
    }
    #p3{
    grid-column: 1;
    grid-row: 3;
    }
    #p4{
    grid-column: 1;
    grid-row: 4;
    }
    #p5{
    grid-column: 1;
    grid-row: 5;
    }
    #p6{
    grid-column: 1;
    grid-row: 6;
    }
    #p7{
    grid-column: 1;
    grid-row: 7;
    }
    #p8{
    grid-column: 1;
    grid-row: 8;
    }
} 